* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
}
@media (max-width:760px) {
  body{
    height: auto;
    width: 100%;
    overflow-y: scroll;

    padding: 10px;
  }
}
